h5py==3.8.0
importlib-metadata==6.1.0
matplotlib==3.5.3
monai==1.1.0
nibabel==4.0.2
numpy==1.24.0
opencv-python==4.7.0.72
torch==2.0.0
torchvision==0.15.1
tqdm==4.65.0
transforms==0.1
urllib3==1.26.15
wandb==0.14.0
x-transformers==1.10.0
